*{
    margin: 0;
    padding: 0;
}

@font-face{
	font-family: "Valorant font";
	src: url("Valorant\ Font.ttf");

    font-family: "Letric_PERSONAL_USE_ONLY";
    src: url("Letric_PERSONAL_USE_ONLY.otf");
}

.container{
    width: 80%;
    margin: 0px auto;
}

.efeito{
	box-shadow: #101010 1px 1px 2px;
}

header{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100px;
    position: fixed;
}

header h1{
    color: white;
    text-shadow: 2px 2px 3px red;
    font-family: "Valorant font";
    font-size: 30px;
    float: right;
    padding-top:20px ;
}

#logo1 img{
    width: 90px;
    float: left;
}

#conteudo{
    background-image: url("23766.jpg");
    background-size: 100%;
    width: 100%;
    height: 790px;
    padding-top: 180px;
}

#conteudo h1{
    padding-top: 15px;
    font-size: 65px;
    text-align: center;
    color: white;
    font-family: "Letric_PERSONAL_USE_ONLY";
    text-shadow: 2px 2px 3px black;
}
#logo table{
    margin-top: 45px;
    font-size: larger;
    text-shadow: 2px 2px 3px black;
    border-spacing: 0px;
    float: right;
}
table{
    margin-top: 80px;
    font-size: larger;
    text-shadow: 2px 2px 3px black;
}

#ladoesquerdo{
    width: 50%;
    color: white;
    padding-right: 70px;
}

#ladoesquerdo p{
    padding: 0 50px;
}

#ladoesquerdo img{
    width: 500px;
    margin-left: 100px;
}

#ladodireito{
    width: 50%;
    color: white;
    padding-left: 130px;
}

#ladodireito p{
    padding: 0 50px;
}

#ladodireito img{
    width: 400px;
    padding-left: 80px;
}

#logo td{
    margin: 0;
    color: aliceblue;
    font-size: 16px;
}

#logo a{
    padding: 25px 25px;
    font-family: "Valorant Font";
    text-decoration: none;
    color: white;
    background-color: rgba(10,10,10, 0.8);
}

#logo a:hover{
    background-color: white;
    color: black;
    padding: 25px 25px;
    font-size: 16px;
    transition: 0.9s;
}

#logo1 img:hover{
    width: 95px;
    transition: 0.9s;
}

#ladodireito img:hover{
    width: 410px;
    transition: 0.9s;
}
#ladoesquerdo img:hover{
    width: 510px;
    transition: 0.9s;
}
