*{
    margin: 0;
    padding: 0;
}

@font-face{
	font-family: "Valorant font";
	src: url("Valorant\ Font.ttf");
}
@font-face {
    font-family: "Letric_PERSONAL_USE_ONLY";
    src: url("Letric_PERSONAL_USE_ONLY.otf");
}

body{
    background-color: black;
}


.container{
    width: 80%;
    margin: 0px auto;
}

.container1{
    width: 40%;
    margin: 0px auto;
}

.efeito{
	box-shadow: #101010 1px 1px 2px;
}

header{
    background-color: rgb(10, 10, 10);
    width: 100%;
    min-height: 100px;
    
}

header h1{
    color: white;
    text-shadow: 2px 2px 3px red;
    font-family: "Valorant font";
    font-size: 30px;
    float: right;
    padding-top:20px ;
}

#logo1{
    float: left;
}

#logo1 img{
    width: 90px;
}

#conteudo{
    background-image: linear-gradient(118deg ,blue  50%, transparent,  red 50%);
    background-size: 100%;
    width: 100%;
    min-height:700px;
    padding-top: 180px;
}

#conteudo2{
    display: flex;
    position: relative;
    width: 100%;
    max-height:103%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    overflow: hidden;
}

#conteudo2 video{
    position:absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

#conteudo2 p{
    margin-top: 400px;
    position: absolute;
    font-size: 35px;
    padding: 25px;
    display: inline;
    color: aliceblue;
    text-shadow: 5px 5px 8px black;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0,0, 0, 0.34); 
}

#conteudo2 img{
    padding: 25px;
    margin-top: 860px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 350px;
    -webkit-filter: drop-shadow(5px 5px 11px black);
    filter: drop-shadow(5px 5px 11px black);
}

#conteudo2 img:hover{
    transition: 0.3s;
    width:400px;
}


#conteudo3{
    padding-top: 110px;
    position: relative;
    background-size: 100%;
    display: block;
    width: 100%;
    min-height:90%;
    justify-items: center;
    background-image: url("imagens/cont3fundo.jpg");
    overflow: hidden;
    
}

#conteudo3 h1{
    font-family: "Valorant font";
    font-size: 65px;
    color: white;
    text-shadow: 5px 5px 8px black;
    text-align: center;
}

#conteudo3 table{
    margin-top: 50px;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 2%;
    border-spacing: 30px;
    height: 200px;
    font-size: 30px;
    background-color: rgba(10,10,10,0.3);
}

#conteudo2 h1{
    color: white;
    text-shadow: 5px 5px 11px black;
    text-align: center;
    font-family: "Valorant font";
    font-size: 80px;
    padding-top: 130px;
    position: absolute;
    display: inline;
}

#conteudo h1{
    padding-top: 15px;
    font-size: 65px;
    text-align: center;
    color: white;
    font-family: "Letric_PERSONAL_USE_ONLY";
    text-shadow: 5px 5px 8px black;
}

#logo li{
    padding: 45px 0px;
    font-size: 16px;
    text-shadow: 2px 2px 3px black;
    border-spacing: 0px;
    float: right;
}

table{
    font-size: larger;
    text-shadow: 2px 2px 3px black;
}


#logo a{
    padding: 25px 25px;
    
    margin: 10px;
    font-family: "Valorant Font";
    text-decoration: none;
    color: white;
    background-color: rgba(10,10,10, 0.8);
    width: auto;
}

#logo a:hover{
    background-color: white;
    color: black;
    padding: 25px 25px;
    font-size: 18px;
    transition: 0.9s;
    text-shadow: none;
}

#logo1 img:hover{
    width: 95px;
    transition: 0.9s;
}

video{
    margin: 0 auto;
    padding-top: 60px;
    width:820px;
}


#sobrenos{
    float: right;
    color: white;
    font-size: 28px;
    margin: 110px 60px 60px 60px;
    background-color: rgba(10, 10, 10, 0.4);
}

#tdnome{
    text-align: center;
}

#tab1{
    float: left;
    text-align: center;
    width: 44%;
    margin-left: 5%;
    margin-top: 0px;
}

#tab1 tr{
    height: 70px;
}

#tab2{
    width: 44%;
    float: right;
    margin-right: 5%;
    margin-top: 0px;
    text-align: center;
} 

#tab2 tr{
    height: 70px;
}

#tab1 img:hover{
    width: 95px;
    transition: 0.9s;
}

#tab2 img:hover{
    width: 90px;
    transition: 0.9s;
}

#conteudo4{
    background-image: url("imagens/conteudo4-1.png");
    background-size: 100%;
    width: 100%;
    min-height: 600px;
    padding: 80px 0px;

}

#conteudo4 h1{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: "Valorant font";
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: -20px;
}

#conteudo4 h2{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 10px 0px;
}

#conteudo4 h3{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#b1 button {
    text-align: center;
    margin-top: 650px;
    margin-left: -140px;
    position: absolute;
    background-color: rgb(43, 43, 43);
    border: none;
    color: white;
    padding: 25px 25px;
    font-size: 25px;
    font-family: "Valorant Font";
}
#b1 button:hover{
    background-color:rgb(99, 99, 99);
    color: rgb(43, 43, 43);
    padding: 25px 25px;
    font-size: 30px;
    transition: 0.9s;
}

footer{
    width: 100%;
    min-height: 100px;
    background-color: rgb(10, 10, 10);
}

.top-link {
    transition: all .25s ease-in-out;
    position: relative;
    float: right;
    bottom: 0;
    right: 0;
    display: inline-flex;
    padding-top: 10px;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 10px 3em 0 0;
   border-radius: 50%;
   padding: .25em;
   width: 70px;
   height: 70px;
   background-color: red;
   
}
svg {
    fill: white;
    width: 50px;
    height: 90px;
   }

#conteudoval{
    background-image: url("imagens/bg.jpg");
    background-size: 100%;
    text-shadow: 3px 3px 7px black;
    height:700px;
    margin-top: -100px;
    padding-top: 160px;
    font-family: "Valorant Font";
    color: white;
    font-size: 35px;
    text-align: center;
}


footer img{
    width: 200px;
    margin: 0 auto;
    height: 38px;
    padding-left: 830px;
}

#inscreva button{
    text-align: center;
    margin-top: 250px;
    margin-left: -140px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    color: rgba(255,70,84, 0.95);
    padding: 25px 25px;
    font-size: 23px;
    font-family: "Valorant Font";
}

#inscreva button:hover{
    background-color: rgba(255,70,84, 0.8);;
    color: rgba(255, 255, 255, 0.95);
    padding: 25px 25px;
    font-size: 26px;
    transition: 0.9s;
}
#butenvia button{
    text-align: center;
    margin-top: 30px;
    margin-left: -110px;
    position: absolute;
    background-color: rgba(255,70,84, 0.8);
    border: none;
    color: rgba(255, 255, 255, 0.95);
    padding: 25px 25px;
    font-size: 23px;
    font-family: "Valorant Font";
}

#butenvia button:hover{
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(255,70,84, 0.8);
    padding: 25px 25px;
    font-size: 26px;
    transition: 0.9s;
}

#tow{
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    width: 80%;
    height: 554px;
    margin-top: -250px;
    position: relative;
    text-shadow: 2px 2px 6px red;
    padding: 100px 100px 55px 100px;
}

#foot img{
    float: left;
    margin-top: 35px;
    margin-left: -80px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 320px;
    height: 40px;
    -webkit-filter: drop-shadow(5px 5px 11px black);
    filter: drop-shadow(5px 5px 11px black);
  
}

#foot img:hover{
    transition: 0.3s;
    width:350px;
    height: 50px;
}





@media screen and (max-width:1242px){
    #logo li{
        float: none;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    #logo a{

        width: 100%;
    }
    #logo1{
        float: none;
        display: flex;
        justify-content: center;
    }

    #ladoesquerdo {
        float: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ladoesquerdo img{
        width: 340px;
    }
    #ladoesquerdo a{
        width: 380px;
    }

    #ladodireito {
        float: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ladodireito img{
        width: 250px;
    }
    #ladodireito a{
        width: 380px;
    }
    


    #conteudo3{
        padding-top: 40px;
        position: relative;
        background-size: 100%;
        display: block;
        width: 100%;
        height:1300px;
        justify-items: center;
        background-image: url("imagens/cont3fundo.jpg");
        background-attachment:fixed;
    }
    #conteudo3 h1{
        font-family: "Valorant font";
        font-size: 35px;
        color: white;
        text-shadow: 5px 5px 8px black;
        text-align: center;
    }
    #conteudo3 table{
        margin: 0 auto;
        float: none;
        color: white;
        text-align: center;
        position: relative;
        border-radius: 2%;
        border-spacing: 30px;
        height: 200px;
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #conteudo2 p{
        font-size: 25px;
        margin-top: 200px;

    }
    #conteudo2 h1{
        font-size: 60px;
        padding-top: 30px;
    }
    #conteudo2 img{
        margin-top: 560px;
    }
    #conteudo2{
        min-height: 690px;
    }

    #conteudo3{
        padding-top: 40px;
        position: relative;
        background-size: 100%;
        display: block;
        width: 100%;
        min-height:900px;
        justify-items: center;
        background-image: url("imagens/cont3fundo.jpg");
        background-attachment:fixed;
    }
    #conteudo3 h1{
        font-family: "Valorant font";
        font-size: 35px;
        color: white;
        text-shadow: 5px 5px 8px black;
        text-align: center;
    }
    #b1 button {
        margin: 70 auto 0 auto;
        width: 80%;
    }
    
}

@media screen and (max-width:768px){
    #logo li{
        float: none;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    #logo a{

        width: 100%;
    }

    #logo1{
        float: none;
        display: flex;
        justify-content: center;

    }

    #conteudo{
        padding-top: 0px;
    }
    #conteudo h1{
        font-size: 45px;

    }

    #ladoesquerdo {
        float: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ladoesquerdo img{
        width: 340px;
    }
    #ladoesquerdo a{
        width: 380px;
    }

    #ladodireito {
        float: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ladodireito img{
        width: 250px;
    }
    #ladodireito a{
        width: 380px;
    }

    #conteudo2 video{
        min-height: 425px;
    }
    #conteudo2 {
        max-height: 850px;
        background-color: #101010;
    }
    #conteudo2 p{
        margin-top: 425px;
        width: 80%;
        
        height: 100%;
        position: absolute;
        font-size: 28px;
        padding: 25px;
        display: inline;
        color: aliceblue;
        text-shadow: 5px 5px 8px black;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-color: rgba(0,0, 0, 0.34); 
    }
    #conteudo2 h1{
        color: white;
        text-shadow: 5px 5px 11px black;
        text-align: center;
        font-family: "Valorant font";
        font-size: 40px;
        padding-top: 392px;
        position: absolute;
        display: block;
    }
    #conteudo2 img{
        padding: 25px;
        margin-top: 760px;
        display: inline;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 310px;
        -webkit-filter: drop-shadow(5px 5px 11px black);
        filter: drop-shadow(5px 5px 11px black);
    }
    #conteudo2 img:hover{
        transition: 0.3s;
        width:325px;
    }

    #conteudo3{
        padding-top: 40px;
        position: relative;
        background-size: 100%;
        display: block;
        width: 100%;
        
        justify-items: center;
        background-image: url("imagens/cont3fundo.jpg");
        background-attachment:fixed;
    }
    #conteudo3 h1{
        font-family: "Valorant font";
        font-size: 35px;
        color: white;
        text-shadow: 5px 5px 8px black;
        text-align: center;
    }
    #conteudo3 table{
        margin-top: 15px;
        color: white;
        text-align: center;
        position: relative;
        border-radius: 2%;
        border-spacing: 30px;
        height: 200px;
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #tab1{
        float: none;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }
    #tab1 tr{
        height: 70px;
    }
    #tab2{
        float: none;
        text-align: center;
        width: 90%;
        margin-left: 5%;

    } 
    #tab2 tr{
        height: 70px;
    }
    #tab1 img:hover{
        width: 95px;
        transition: 0.9s;
    }
    #tab2 img:hover{
        width: 90px;
        transition: 0.9s;
    }

    #b1 button {
        width: 80%;
        text-align: center;
        margin: 45px auto;
        position: absolute;
        background-color: rgb(43, 43, 43);
        border: none;
        color: white;
        padding: 25px 25px;
        font-size: 25px;
        font-family: "Valorant Font";
    }
    #b1 button:hover{
        background-color:rgb(99, 99, 99);
        color: rgb(43, 43, 43);
        padding: 25px 25px;
        font-size: 30px;
        transition: 0.9s;
    }
    .container1{
        width: 80%;
        margin: 0px auto;
    }

    #conteudo4{
        background-image: url("imagens/conteudo4-1.png");
        background-size: 100%;
        width: 100%;
        min-height: 600px;
        padding: 80px 0px;
    
    }
    
    #conteudo4 h1{
        color: white;
        text-shadow: 2px 2px 3px black;
        text-align: center;
        font-family: "Valorant font";
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: -20px;
    }
    
    #conteudo4 h2{
        color: white;
        text-shadow: 2px 2px 3px black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin: 10px 0px;
    }
    
    #conteudo4 h3{
        color: white;
        text-shadow: 2px 2px 3px black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
}

@media screen and (max-width:600px){
    #conteudo2 video{
        height: 330px;
    }
    #conteudo2 {
        height: 710px;
        background-color: #101010;
    }
    #conteudo2 p{
        margin-top: 345px;
        width: 80%;
        
        height: 100%;
        position: absolute;
        font-size: 22px;
        padding: 25px;
        display: inline;
        color: aliceblue;
        text-shadow: 5px 5px 8px black;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-color: rgba(0,0, 0, 0.34); 
    }
    #conteudo2 h1{
        color: white;
        text-shadow: 5px 5px 11px black;
        text-align: center;
        font-family: "Valorant font";
        font-size: 40px;
        padding-top: 312px;
        position: absolute;
        display: block;
    }
    #conteudo2 img{
        padding: 25px;
        margin-top: 620px;
        display: inline;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 310px;
        -webkit-filter: drop-shadow(5px 5px 11px black);
        filter: drop-shadow(5px 5px 11px black);
    }
    #conteudo2 img:hover{
        transition: 0.3s;
        width:325px;
    }
}

@media screen and (max-width:414px){
    #ladodireito {
         float: none;
    }

    #conteudo2 h1{
        padding-top: 212px;
    }
    #conteudo2 video{
        height: 234px;
    }
    #conteudo2 p{
        margin-top: 244px;
    }

    #conteudo3{
        height: 1270px;
    }
    #conteudo3 table{
        margin-top: 0px;
        font-size: 20px;
    }

    #conteudo4 h1{
        font-size: 40px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
    #conteudo4{
        padding: 0px;
        height: 780px;
    }

}