*{
    margin: 0;
    padding: 0;
}

@font-face{
	font-family: "Valorant font";
	src: url("Valorant\ Font.ttf");
}
@font-face {
    font-family: "Letric_PERSONAL_USE_ONLY";
    src: url("Letric_PERSONAL_USE_ONLY.otf");
}

.container{
    width: 80%;
    margin: 0px auto;
}

.efeito{
	box-shadow: #101010 1px 1px 2px;
}

header{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100px;
    position: absolute;
}

header h1{
    color: white;
    text-shadow: 2px 2px 3px red;
    font-family: "Valorant font";
    font-size: 30px;
    float: right;
    padding-top:20px ;
}

#logo1 img{
    width: 90px;
    float: left;
}

#conteudo{
    background-image: linear-gradient(118deg ,blue  50%, transparent,  red 50%);
    background-size: 100%;
    width: 100%;
    height:82%;
    padding-top: 180px;
}

#conteudo2{
    display: flex;
    position: relative;
    width: 100%;
    height:103%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    overflow: hidden;
}

#conteudo2 video{
    position:absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

#conteudo2 p{
    margin-top: 400px;
    position: absolute;
    font-size: 35px;
    padding: 25px;
    display: inline;
    color: aliceblue;
    text-shadow: 5px 5px 8px black;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0,0, 0, 0.34); 
}

#conteudo2 img{
    padding: 25px;
    margin-top: 860px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 350px;
    -webkit-filter: drop-shadow(5px 5px 11px black);
    filter: drop-shadow(5px 5px 11px black);
  
}

#conteudo2 img:hover{
    transition: 0.3s;
    width:400px;
}


#conteudo3{
    padding-top: 110px;
    position: relative;
    background-size: 100%;
    display: block;
    width: 100%;
    height:96%;
    justify-items: center;
    background-image: url("imagens/conteudo2-3.jpg");
    overflow: hidden;
    
}

#conteudo3 h1{
    font-family: "Valorant font";
    font-size: 65px;
    color: white;
    text-shadow: 5px 5px 8px black;
    text-align: center;
}

#conteudo3 table{
    margin-top: 50px;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 2%;
    border-spacing: 30px;
    height: 200px;
    font-size: 30px;
    background-color: rgba(10,10,10,0.3);
}

#conteudo2 h1{
    color: white;
    text-shadow: 5px 5px 11px black;
    text-align: center;
    font-family: "Valorant font";
    font-size: 80px;
    padding-top: 130px;
    position: absolute;
    display: inline;
}

#conteudo h1{
    padding-top: 15px;
    font-size: 65px;
    text-align: center;
    color: white;
    font-family: "Letric_PERSONAL_USE_ONLY";
    text-shadow: 5px 5px 8px black;
}
#logo table{
    margin-top: 45px;
    font-size: larger;
    text-shadow: 2px 2px 3px black;
    border-spacing: 0px;
    float: right;
}
table{
    margin-top: 80px;
    font-size: larger;
    text-shadow: 2px 2px 3px black;
}

#logo td{
    margin: 0;
    color: aliceblue;
    font-size: 16px;
}

#logo a{
    padding: 25px 25px;
    font-family: "Valorant Font";
    text-decoration: none;
    color: white;
    background-color: rgba(10,10,10, 0.8);
}

#logo a:hover{
    background-color: white;
    color: black;
    padding: 25px 25px;
    font-size: 16px;
    transition: 0.9s;
    text-shadow: none;
}

#logo1 img:hover{
    width: 95px;
    transition: 0.9s;
}

video{
    margin: 0 auto;
    padding-top: 60px;
    width:820px;
}


#sobrenos{
    float: right;
    color: white;
    font-size: 28px;
    margin: 110px 60px 60px 60px;
    background-color: rgba(10, 10, 10, 0.4);
}

#tdnome{
    text-align: center;
}

#tab1{
    float: left;
    text-align: center;
    width: 44%;
    margin-left: 5%;
    margin-top: 0px;
}

#tab1 tr{
    height: 70px;
}

#tab2{
    width: 44%;
    float: right;
    margin-right: 5%;
    margin-top: 0px;
    text-align: center;
} 

#tab2 tr{
    height: 70px;
}

#tab1 img:hover{
    width: 95px;
    transition: 0.9s;
}

#tab2 img:hover{
    width: 90px;
    transition: 0.9s;
}

#conteudo4{
    background-image: url("imagens/conteudo4-1.png");
    background-size: 100%;
    width: 100%;
    height: 100%px;
    padding: 80px 0px;

}

#conteudo4 iframe{
    margin-left: 650px;
}

#conteudo4 h1{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: "Valorant font";
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: -20px;
}

#conteudo4 h2{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 10px 0px;
}

#conteudo4 h3{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

button {
    text-align: center;
    margin-top: 650px;
    margin-left: -140px;
    position: absolute;
    background-color: rgb(43, 43, 43);
    border: none;
    color: white;
    padding: 25px 25px;
    font-size: 25px;
    font-family: "Valorant Font";
}
button:hover{
    background-color:rgb(99, 99, 99);
    color: rgb(43, 43, 43);
    padding: 25px 25px;
    font-size: 30px;
    transition: 0.9s;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);
}

.top-link {
    transition: all .25s ease-in-out;
    position: relative;
    float: right;
    bottom: 0;
    right: 0;
    display: inline-flex;
    padding-top: 10px;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 0 3em 3em 0;
   border-radius: 50%;
   padding: .25em;
   width: 50px;
   height: 50px;
   background-color: red;
}
svg {
    fill: white;
    width: 34px;
    height: 32px;
   }
